{% extends "layout/index.njk" %}
{% block content %}
    

<body class="RegisterClass">
<div class="login-page">
<div class="form">


<h1>Codigo de Reset de senha</h1><br><br><br>
<style>.contentbackground: url(./nors_theme_data/images/small/index_background.png) center center no-repeat #281205;</style>

				<form action="/lost-code" method="POST" class="form-horizontal">
					<div class="form-group">
						<div class="col-md-6 col-md-offset-4">
						<input type="text" class="form-control" name="cod" placeholder="Codigo de reset de senha" required>
						</div>
					</div><br>
					<div class="form-group">
						<div class="col-md-6 col-md-offset-4">
						<input type="text" class="form-control" name="login" placeholder="Login da conta" required>
						</div>
					</div><br>
				<div class="form-group">
						<div class="col-md-6 col-md-offset-4">
						</div>
					<center><div style="margin: 5px 0 0 2px;transform: scale(0.95);transform-origin: 0 0;" id="recaptcha2" class="g-recaptcha"></div></center>
				<div class="form-group">
					<center>
					<center><button type="submit" class="btn btn-giris" style="margin-top: 10px;">Resetar senha</button></center>

				</form>

  <div class="panel panel-default">
      <h4 class="panel-title">
 </div>

</div>
{% endblock %}