{% extends "layout/index.njk" %}
{% block content %}
    

<aside id="right">
    <div id="content_ajax">
        <article class="page_article">
			<div class="panel-heading"><h2 class="head">Registro</h2></div>
            <div class="body">
                <div class="error-holder">
                    <div class="container_3 red wide fading-notification" align="center">
						                    </div>
                </div>
				                   <form action="/register" method="POST" id="kayit_form" class="form-horizontal" autocomplete="off">
                        <div class="form-group">
                            <label for="login" class="col-sm-3 control-label">Nome de Usuário</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control2" name="login" id="login" required maxlength="16" onkeypress="return textonly(event,'#login')">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pass" class="col-sm-3 control-label">Senha</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control2" name="password" id="pass" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pass2" class="col-sm-3 control-label">Confirmar Senha</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control2" name="password2" id="pass2" required="" maxlength="30">
                            </div>
                        </div>

						 <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-7">
                                <input type="email" class="form-control2" name="email" id="email" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="realname" class="col-sm-3 control-label">Nome</label>
                            <div class="col-sm-7">
                                <input id="realname" type="text" name="real_name" class="form-control2" onkeypress="return textonly2(event,'#name')" maxlength="30" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ksk" class="col-sm-3 control-label">Codigo de Personagem</label>
                            <div class="col-sm-7">
                                <input id="ksk" type="text" name="social_id" class="form-control2" onkeypress="return numberonly(event,'#ksk')" maxlength="7" required="">
                            </div>
                        </div>
						 <div class="form-group">
                            <label for="g-recaptcha" class="col-sm-3 control-label">Captcha</label>
                            <div class="col-sm-7">
								<div class="g-recaptcha" data-theme="dark" style="transform:scale(0.81);-webkit-transform:scale(0.81);transform-origin:0 0;-webkit-transform-origin:0 0;" data-sitekey="6LewQQ8aAAAAAGlI2ySnbxfyq6DuyEskTiDiAicX"></div>
							</div>
							</div>
                        <div class="form-group">
                                                   <button type="submit" name="login_submit" class="btn form-btn">Registrar</button>
                                
                            </div>
                    </form>
        </article>
    </div>
</aside>
{% endblock %}