{% extends "layout/index.njk" %}
{% block content %}
    

<body class="RegisterClass">
<div class="login-page">
<div class="form">
<br><br>

			<form action="{{ROUTE_USER}}/reset-password" method="POST" class="form-horizontal"><center>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-3 control-label">Login </label>
					<div class="col-sm-6">
					<input type="text" class="form-control" value="{{session.username}}" disabled>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-3 control-label">Senha Atual</label>
					<div class="col-sm-6">
					<input type="password" class="form-control" name="password" id="sifre" maxlength="15" required>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-3 control-label">Nova Senha</label>
					<div class="col-sm-6">
					<input type="password" class="form-control" name="newPassword" id="sifre2" maxlength="15" required>
					</div>
				</div>

			<center><div class="form-group">
				<div class="col-sm-offset-3 col-sm-6">
					<button type="submit" class="btn btn-giris" style="margin-top: 10px;"> Salvar</button></center>
				
		
			</form>			
		
{% endblock %}