<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head><meta charset="big5">
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-162796772-2');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162796772-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-162796772-2');
</script>


    <!-- Meta start -->
    
    <meta name="robots" content="follow, index"/>
    <meta http-equiv="Content-Language" content="pl"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base >
    <title>Site M2</title>
    <!-- /meta start -->

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.ico" sizes="16x16" />
    <!-- /favicon -->

    <!-- Meta -->
    <meta name="keywords" content="metin2, AsiLZade, emek, orta emek, metin, pvp server metin2"/>
    <meta name="description" content="AsiLZade 1-105 Editsiz Abartısız Orta Emek Metin2 pvp server"/>
    <!-- /meta -->

    <!-- OpenGraph tags (espec. Facebook) -->
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="AsiLZade - Metin2 PVP Server"/>
    <meta property="og:description" content="AsiLZade-Macera Dolu Editsiz Orta-Emek Server. En güzel maceralara sizleri de bekleriz!"/>
    <meta property="og:image" content="/data/upload/xEpkRrbJpP1UH0l.png"/>
    <!-- /openGraph tags -->


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/asset/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="/asset/css/steelkof.css" type="text/css"/>
    <link rel="stylesheet" href="/asset/css/other-reset.css" type="text/css"/>
    <link rel="stylesheet" href="/asset/css/slick.css"type="text/css"/>
    <link rel="stylesheet" href="/asset/css/slick-theme.css" type="text/css"/>

	<link rel="stylesheet" type="text/css" href="/css/extra.css"/>
	<link rel="stylesheet" type="text/css" href="/css/selectbox.css"/>
    <link rel="stylesheet" type="text/css" href="/css/radiocheck.css"/>
    <link rel="stylesheet" type="text/css" href="/css/shadowbox.css"/>
	<link rel="stylesheet" href="/css/rankings.css"/>
    <link rel="stylesheet" href="/css/popup.css"/>
    <link rel="stylesheet" href="/css/jquery.modal.css"/>
	<link rel="stylesheet" href="/css/fancybox.css" type="text/css" media="screen"/>


<style>
		.ranked-table {
            display: table;
            width: 100%;
		}
		.Heading {
            text-shadow: 0 1px 1px rgba(232, 227, 227, 0.5);
            font-family: arial;
            font-size: 12px;
            display: table-row;
            color: #b1e0f4;
            text-align: center;
            background: rgba(255, 255, 255, .02);
            height: 28px;
            border: 1px solid black;
		}


		.Cell {
			display: table-cell;						font-family: 'Baloo Paaji 2' !important;
			padding-top: 5px;
			border-width: thin;
			padding-left: 5px;						font-weight: bold;			font-size: 13px;
		}
		.Row.a {
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            font-family: arial;
            font-size: 12px;
            display: table-row;
            color: #abe6f6;
            text-align: center;
            background: rgba(255, 255, 255, .02);
            height: 28px;
		}
		.Row.b {
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
			font-family: arial;
			font-size: 12px;
			display: table-row;
            color: #abe6f6;
			text-align: center;
			background: rgba(255, 255, 255, .05);
			height: 28px;
		}
.youtube1 {
    height: 500px;
    position: relative;
}

.youtube2 {
    position: relative;
    margin: 0 auto;
    height: 170;
    padding: 5px;
    width: 100%;
}

.youtube3 {
    width: 103px;
    height: 103px;
    float: left;
}
.youtube3:hover {
    opacity: .6;
}

.smedyabaslik {
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    background: url(/asset/images/sidebar-title-bg.jpg) repeat-x;
    font-size: 14px;
}



	</style>



	<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="/asset/js/slick.min.js"></script>
	<script src="/asset/js/jquery-ui.min.js"></script>

	<script type="text/javascript" src="/js/jquery.modal.min.js"></script>
	<script type="text/javascript" src="/js/selectbox.min.js"></script>
    <script type="text/javascript" src="/js/footer_include.js"></script>
    <script type="text/javascript" src="/js/ui.js"></script>
    <script type="text/javascript" src="/js/flux.min.js"></script>
    <script type="text/javascript" src="/js/popup.js"></script>
    <script type="text/javascript" src="/js/fancybox.js"></script>
    <script src="/js/notify.js"></script>
    <script src="https://cdn.ckeditor.com/4.15.1/full/ckeditor.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="../connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v3.2&appId=762916164068770&autoLogAppEvents=1"></script>
<div id="exception"></div>
				<!-- top-panel -->
				<div class="wrapper">
                    <header class="header">
                        <a href="{{ROUTE_MAIN}}/">
                            <img src="/asset/images/xEpkRrbJpP1UH0l.png" class="logo">
                        </a>
                        <div class="menu-top">
                            <ul class="menu-top-left">
                                <li><a href="{{ROUTE_MAIN}}/">Inicio</a></li>
                                <li><a href="{{ROUTE_MAIN}}/download">Download</a></li>
								<li><a href="{{ROUTE_MAIN}}/register">Registro</a></li>
								
                            </ul>
                            <ul class="menu-top-right">
                                <li><a class="itemshop itemshop-btn iframe" href="https://forum.turkmmo.com/uye/2176041-asilzade/">Suporte</a></li>
                                <li><a>Ranking</a>
                                    <ul>
                                        <li><a href="/ranking-players">Ranking Players</a></li>
                                        <li><a href="/ranking-guilds">Ranking Guilds</a></li>
                                    </ul>
                                </li>
                            </ul>
										
									<div class="server-load">
                                <div>Online</div>
								                                    <span>{{countPlayer}}</span>
								                            </div>
																						                        </div>
                    </header>
					<!-- .header-->
					<div class="container">
						<aside class="left-sidebar">
                            <a href="{{ROUTE_MAIN}}/download">
							    <div class="download-block"></div>
                            </a>
                            {% if session.loggedin == true %}
                            
							<div class="login-block p-block">
								<center style="line-height: 1.5;">
								Nome do usuário <b>{{session.username}}</b><br>
								Cash <b>{{session.cash}} EP</b><br>

								<div class="kayip-buttonlar2">
									<a href="{{ROUTE_USER}}/painel" class="btn btn-giris">Painel</a><br>
									<a href="{{ROUTE_USER}}/logout" class="btn btn-giris">Sair</a>
								</div>
							</center>
							</div>
							
							{%else%}

							<div class="login-block p-block">
							<form action="{{ROUTE_MAIN}}" method="POST">
									<div class="login-block-title flex-center">
										<span>Entrar</span> <a href="{{ROUTE_MAIN}}/register"> Cadastrar-se</a>
									</div>
									<p class="login-in" style="margin-bottom: 15px;"><input type="text" placeholder="Usuário" value="" required name="login" id="login" maxlength="16" autocomplete="off"/></p>
									<p class="password-in" style="margin-bottom: 15px;"><input type="password" placeholder="Senha" value="" required name="password" id="password" maxlength="20" autocomplete="off"/></p>                        
									<div class="login-button">
										<button class="green-button" type="submit" name="login_submit">Entrar</button>
									</div>
                                    
                                    <a href="/lost-pass" data-hasevent="1" style="float: right;position: relative;top: 4px;">Esqueci a minha senha</a>
								</form>
							</div>

                        {%endif%}
							<div class="top-players-block light p-block">
								<div class="sidebar-title sidebar-top-title flex-center">
									<div class="title-t">
                                        <a href="{{ROUTE_MAIN}}/ranking-players"><span>Ranking de Players</span></a>
									</div>
                                    <div class="top-title-img"><span>TOP<b style="display: block;font-size: 30px;text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);">5</b></span></div>
                                </div>
								<!-- sidebar-title -->
								<div class="box-style2">
									<div class="entry">
										<div id="top_players">
											<table class="sidebar_rank" border="0">
												<tbody>
													<tr>
														<th>#</th>
														<th>Nome do Player</th>
														<th>Level</th>
													</tr>
													
														
													
													
					{% for player in players %}
						<tr>
						<td style="text-align:center;">{{loop.index}}</td>
						<td>{{player.name}}</td>
						<td>{{player.level}}</td>
						</tr>
					{% endfor %}
						</tbody>
						</table>
		

										</table>
										</div>
										<br/>
										<span style="float:right;margin-right:28px"></span>
									</div>
								</div>
							</div>
							<!-- top-players-block -->
							<div class="top-players-block light p-block">
								<div class="sidebar-title sidebar-top-title flex-center">
									<div class="title-t">
                                        <a href="{{ROUTE_MAIN}}/ranking-guilds"><span>Ranking de Guildas</span></a>
									</div>
									<div class="top-title-img flag-icon-2"><span>TOP<b style="display: block;font-size: 30px;text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);">10</b></span></div>
								</div>
								<div class="box-style2">
									<div class="entry">
										<div id="top_guilds">
											<table class="sidebar_rank" border="0">
												<tbody>
													<tr>
														<th>#</th>
														<th>Nome da Guilda</th>
														<th>Level</th>
													</tr>
				{% for guild in guilds %}
                
										<tr>
						<td style="text-align:center;">{{loop.index}}</td>
						<td>{{guild.name}}</td>
						<td>{{guild.level}}</td>
						</tr>	
				{% endfor %}

											</table>
										</div>
										<br/>
										<span style="float:right;margin-right:28px"></span>
									</div>
								</div>
							</div>
							<!-- media-block -->
						</aside>
						<!-- left-sidebar -->
						<main class="content">
							<div class="slider">
								<div class="next"> </div>
								<div class="prev"> </div>
								<div class="slides">
                                    <div class="slide active">
                                        <img src="/asset/images/slider2-img.jpg" alt="">
                                    </div>
									<div class="slide">
                                        <img src="/asset/images/slider-img.jpg" alt="">
									</div>
                                    <div class="slide">
                                        <img src="/asset/images/slider1-img.jpg" alt="">
                                    </div>
								</div>
								<div class="navigation">
								</div>
							</div>
							<style>
.YoutubeBlock {
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(65, 78, 90, 0.16862745098039217);
    padding-top: 10px;
	padding-bottom: 14px;
}

.VideoBlok {
    width: calc(32% - 3px);
    display: inline-block;
    background-size: 130% !important;
    height: 135px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #394b5f;
    transition: 0.4s linear;
}

.VideoBlok:hover {
    background-size: 150% !important;
}

.VideoBlok baslik {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background: #1e2e40;
    line-height: 30px;
    height: 30px;
    left: 0px;
    overflow: hidden;
    font-size: 10px;
}

.VideoBlok kanal {
    position: absolute;
    bottom: 30px;
    text-align: center;
    background: #273748;
    line-height: 19px;
    height: 19px;
    left: 0px;
    overflow: hidden;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 123;
}

.VideoBlok a {
    display: block !important;
    width: 100%;
    height: 100%;
}

h1.YoutubeTitle {
    margin: 0px;
    line-height: 35px;
    padding-left: 20px;
    background: #090f1785;
    border-bottom: 1px solid #283440;
    font-size: 14px;
    color: #a7930e;
    text-transform: uppercase;
}

.YoutubeBlock p {
    padding: 3px;
    text-align: center;
    font-size: 11px;
    width: 100%;
    background: linear-gradient(to top left,#122740,#1e3f62,#415f96);
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #bbd3f7;
    margin-bottom: 12px;
    margin-top: -11px;
}
</style>
                                {%if error %}
                                    <div id="validation">
                                    <div class="error"><p>{{error}}</p></div></div>
                                {%endif%}
                                {%if success %}
                                    <div id="validation">
                                    <div class="success"><p>{{success}}</p></div></div>
                                {%endif%}    
                                {%if warning %}
                                    <div id="validation">
                                    <div class="warning"><p>{{warning}}</p></div></div>
                                {%endif%}                              
{% block content %}
    
{% endblock %}
{%if notices %}
{% for notice in notices %}
       <div id="content_ajax" class="haberler">
			
				<div class="haber haber-1">
                <div class="panel-heading"><a href="{{ROUTE_MAIN}}/notices/{{notice.id}}" style="color: #01a6a9;">{{notice.title}}</a></div>
                <div class="panel-body haber-body">
                    <span class="haber-tarih"><i class="fas fa-calendar-alt" aria-hidden="true"></i>&nbsp;&nbsp;   {{notice.subtitle}} </span>
                    <p style="padding: 15px">{{notice.preview}}</p>
                    <a class="green-button news-btn" href="{{ROUTE_MAIN}}/notices/{{notice.id}}">Ler Mais</a>
                </div>
            </div>
            {%if loop.last%}
			  <div class="haber-arasi"></div>

            <div class="HizmetHataBaslik"></div>
            <div class="HizmetHataIcerik"></div>
            <div class="haber-arasi"></div>
			<div class="haber haber-1"></div>
        {%endif%}

	
		</div> 
        {% endfor %}
{%endif%}
<script>
    var isMobile = {
        Android: function() {return navigator.userAgent.match(/Android/i);},
        BlackBerry: function() {return navigator.userAgent.match(/BlackBerry/i);},
        iOS: function() {return navigator.userAgent.match(/iPhone|iPad|iPod/i);},
        Opera: function() {return navigator.userAgent.match(/Opera Mini/i);},
        Windows: function() {return navigator.userAgent.match(/IEMobile/i);},
        any: function() {return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());}};
    if(isMobile.any()) {document.getElementById('facebookLike').style.display = 'none';}
</script></main>
<aside class="right-sidebar">
    <div class="shop-block">
        <div class="shop shop-three">
            <h3>Suporte</h3>
            <br>
            <a href="https://forum.turkmmo.com/uye/2176041-asilzade/" class="gold-a button button-small itemshop itemshop-btn iframe">Ler Mais</a>
        </div>
    </div><br>
					            <div class="best-p-block border">
                <div class="sidebar-title right-sidebar-title">
                    <div class="title-t">
                        <span>Estatísticas do servidor</span>
                    </div>
                </div>
                <div class="box-style2">
                    <div class="entry">
                        <div id="top_guilds2">
                            <table class="sidebar_rank" border="0">
                                <tbody>

								   <tr>
                                        <td>Jogadores Online</td>
                                        <td>{{countPlayer}}</td>
                                    </tr>

								                                </tbody>
                            </table>
                        </div>
                        <span style="float:right;margin-right:28px"></span>
                    </div>
                </div>
            </div>
					<br>				

				                
</head>
<body>

<div class="smedyabaslik">MÍDIA SOCIAL</div>
<div class="youtube1">

    <div class="youtube2">
		<div class="youtube3" id="b1"><a href="https://www.youtube.com/watch?v=TDXJoGaaX8c" target="_blank"><img src="/asset/images/b1.jpg" height="102px" width="102px"></a></div>
		<div class="youtube3" id="b2"><a href="https://www.youtube.com/watch?v=sa-DiszTMkE" target="_blank"><img src="/asset/images/b2.jpg" height="102px" width="102px"></a></div>
		<div class="youtube3" id="b3"><a href="https://www.youtube.com/watch?v=3sKYgPqi6iY" target="_blank"><img src="/asset/images/b3.jpg" height="102px" width="102px"></a></div>
	</div>

</div>
</div>

</body>
		 </div>
        </div>
    </div>
	
	
	
</aside>
<!-- right-sidebar -->
</div><footer class="footer">
						<div id="toTop">
						</div>
						<center>
						<div class="footer-info">
							<div class="f-menu">
								<ul>
									<li><a href="{{ROUTE_MAIN}}">INICIO</a></li>
																		<li><a href="{{ROUTE_MAIN}}/register">REGISTRO</a></li>
																		<li><a href="{{ROUTE_MAIN}}/download" id="download">DOWNLOAD</a></li>

								</ul>
							</div>
						</div><br>

						<div class="f-logo">
                            Copyright &copy; by <a href="#">Wery Oliveira</a> <br />
                           Coded By <a href="#">Wery Oliveira</a> <br /></a>
						</div>
						</center>
					</footer>
					<!-- .footer -->
				</div>
				<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/asset/js/jed.js"></script>
				<script src="/asset/js/jquery.leanModal.min.js"></script>
				<script src="/asset/js/jquery.tooltip.js"></script>
				<script src="/asset/js/ejs.js"></script>
				<script src="/asset/js/helpers.js"></script>
				<script src="/asset/js/app.js"></script>
				<script src="/asset/js/global.js"></script>
				<script src="/asset/js/slick.min.js" type="text/javascript"></script>

                 <script>
				$('.YoutubeSliders').slick({
					slidesToShow: 3,
					slidesToScroll: 1,
					autoplay: true,
					autoplaySpeed: 3000,
				});

				$('.gaya-magazasi-icerik').slick({
					slidesToShow: 4,
					slidesToScroll: 1,
					autoplay: true,
					autoplaySpeed: 2000,
				});

				$(document).ready(function(){
				  $('[data-toggle="tooltip"]').tooltip();
				});
				</script>
  <script>
    $(document).ready(function() {
      $('#kayit_form').submit(function() {
        $(this).ajaxSubmit({
          error: function(xhr) {
            status('Error: ' + xhr.status);
          },
         success: function(response) {
          console.log(response);
         }
        });
        //Very important line, it disable the page refresh.
        return false;
      });
    });
  </script>
                  <script>
                        CKEDITOR.replace( 'editor1' );
                </script>

			</body>
		

</html>
